RewriteEngine On

ErrorDocument 404 https://ppasquier.alwaysdata.net/ecopratique/404.php

RewriteRule ^accueil$ ./index.php
RewriteRule ^monespace$ ./page_administration.php
RewriteRule ^compte$ ./page_account.php
RewriteRule ^connexion$ ./page_connect.php
RewriteRule ^inscription$ ./page_create_account.php