@font-face {
    font-family: 'Montserrat', sans-serif;
    src: url(../font/Montserrat-Thin.ttf);
    font-weight: 100;
    font-style: normal;
}
@font-face {
    font-family: 'Rajdhani', sans-serif;
    src: url(../font/Rajdhani-Light.ttf);
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'Rajdhani';
    src: url(../font/Rajdhani-Regular.ttf);
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Rajdhani', sans-serif;
    src: url(../font/Rajdhani-Medium.ttf);
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'Rajdhani', sans-serif;
    src: url(../font/Rajdhani-SemiBold.ttf);
    font-weight: 600;
    font-style: normal;
}
@font-face {
    font-family: 'Rajdhani', sans-serif;
    src: url(../font/Rajdhani-Bold.ttf);
    font-weight: 700;
    font-style: normal;
}

body{
    margin: 0;
    
}
*{
    font-family: 'Rajdhani';
    color: #3A4A40;
}
.bg-img{
    background-image: url("../img/nature.webp");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
.bold-text{
    font-weight: 700;
}

.menu{
    background-color: white;
}

.img-tree{
    width: 100%;
    object-fit: cover;
}

.bg-white{
    background-color: transparent;
    position: relative;
}

.before::before{
    display: block;
    content: "";
    position: absolute;
    left: 0%;
    top: 0;
    background-color: #edf7f1;
    height: 200px;
    width: 200px;
    border-radius: 100%;
}


.after::before{
    display: block;
    content: "";
    position: absolute;
    right: 0%;
    top: 0;
    background-color: #edf7f1;
    height: 200px;
    width: 200px;
    border-radius: 100%;
}

.bg-green{
    background-color: #edf7f1;
}

.parallax{
    height: 500px;
    background-image: url("../img/environment.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}
